body{
    background-color: #f2f2f2;
}
#center-all{
    display: flex;
    justify-content: center;
    align-items: center;
}


    h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #006837;
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 24px;
    }
    #table{
        width: 100vw;
    }
    input::placeholder{
        width: 100vw;
        height: 40px;
    }
}

#table{
    width: 520px;
    max-width: 520px;
    height: auto;
    background-color: #f9c582;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #446745;
    
}

::placeholder{
    max-width: 480px;
    max-height: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #446745;
    background-color: #f2f2f2;

}